<div>
  <div *ngIf="takenSpaces && takenSpaces.length">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="row">
          <div *ngFor="let space of takenSpaces" class="card text-white bg-danger" style="width: auto;">
            <div class="card-body">
              <h5 class="card-title">{{ space.Name }} - {{space.HourlyPrice }} Credits/h</h5>
              <p class="card-text">Street: {{ space.StreetName }}</p>
              <p class="card-text">Description: {{ space.Description }}</p>
              <p class="card-text">
                MAP:
                <a class="btn btn-sm btn-light" href="https://google.com/search?q={{space.GPS}}" target="_blank">GGL</a>
                /
                <a class="btn btn-sm btn-light" href="https://duckduckgo.com/?q={{space.GPS}}&ia=web&iaxm=maps" target="_blank">DDG</a>
              </p>
              <button class="btn btn-warning" (click)="onLeaveSpaceClick(space.Id)">Leave</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-success" (click)="onSearchNearby()">Search Nearby</button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <div>
          <select class="form-control" name="CitiesSelector" id="CitiesSelector" [(ngModel)]="selectedCity" (change)="onCityChange()">
            <option value="0">Select City...</option>
            <option *ngFor="let city of allCities" value="{{ city.Id }}">{{ city.Name }}</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div>
          <select class="form-control" name="AreasSelector" id="AreasSelector" [(ngModel)]="selectedArea" (change)="onAreaChange()">
            <option value="0">Select Area...</option>
            <option *ngFor="let area of allAreasForCity" value="{{ area.Id }}">{{ area.Name }}</option>
          </select>
        </div>
      </div>
    </div>
    <hr />
    

  </div>

  <div class="container">
    <div class="row" *ngIf="availableParkingSpaces && availableParkingSpaces.length">
      <div class="col-auto">
        <input class="form-control mr-sm-2" name="Search" [(ngModel)]="searchPhrase" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearchClick()">Search</button>
      </div>
    </div>

    <div class="row">
      <table class="table table-striped" *ngIf="availableParkingSpaces && availableParkingSpaces.length">
        <tbody>
          <tr *ngFor="let parkingSpace of availableParkingSpaces">
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">{{ parkingSpace.Name }}</td>
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">{{ parkingSpace.StreetName }}</td>
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">{{ parkingSpace.Description }}</td>
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">{{ parkingSpace.HourlyPrice }} C/h</td>
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">
              <a class="btn btn-sm btn-light" href="https://google.com/search?q={{parkingSpace.GPS}}" target="_blank">GGL</a>
              /
              <a class="btn btn-sm btn-light" href="https://duckduckgo.com/?q={{parkingSpace.GPS}}&ia=web&iaxm=maps" target="_blank">DDG</a>
            </td>
            <td *ngIf="parkingSpace.IsTaken == false && parkingSpace.IsApproved==true">
              <button class="btn btn-success btn-sm" (click)="onTakeSpaceClick(parkingSpace.Id)" [disabled]="!userLoggedIn()">Take</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

