<div class="container">
  <div class="text-center">
    <h4>Manual lookup</h4>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-auto">
      <label for="exampleFormControlSelect1">City</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Bucharest</option>
        <option>Cluj-Napoca</option>
        <option>London</option>
        <option>Paris</option>
        <option>Berlin</option>
      </select>
    </div>
    <div class="form-group col-md-auto">
      <label for="exampleFormControlSelect2">Area</label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option>Union</option>
        <option>Center</option>
        <option>University</option>
        <option>Parliament</option>
        <option>Miscelaneous</option>
      </select>
    </div>
  </div>
</div>
