<div>
  <div class="text-center">
    <h4>All Parking Spaces for Area</h4>
    <app-select-city (userSelectedCity)="refreshAreasForCity($event)"></app-select-city>
    <hr />
  </div>
  <div class="text-center" *ngIf="allAreasForCity && allAreasForCity.length">
    <app-select-area (userSelectedArea)="refreshParkingSpacesForArea($event)"></app-select-area>
    <hr />
  </div>
  <span *ngFor="let parkingSpace of allParkingSpacesForArea">
    {{ parkingSpace.Name }} - {{ parkingSpace.Id }} - {{ parkingSpace.HourlyPrice }}
  </span>
  <hr />
</div>
