<div>
  <div class="text-center">
    <h4>All Areas for City</h4>

    <hr />
    <form #form="ngForm" (submit)="onSubmit(form)">

      <div class="container">
        <div class="row">

          <div class="form-group col-12 col-md-2">
            <label for="Name">Area Name</label>
          </div>

          <div class="form-group col-12 col-md-4">
            <input class="form-control" #Name="ngModel" id="Name" name="Name" [(ngModel)]="addAreaFormModel.Name" required />
          </div>

          <div class="form-group col-12 col-md-1">
            <label for="citiesSelector">in</label>
          </div>

          <div class="form-group col-12 col-md-3">
            <select class="form-control" name="CitiesSelector" id="CitiesSelector" [(ngModel)]="addAreaFormModel.CityId" #CityId required>
              <option value="0">Select City...</option>
              <option *ngFor="let city of allCities" value="{{ city.Id }}">{{ city.Name }}</option>
            </select>
          </div>

          <div class="col-12 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Area</button>
          </div>
        </div>
      </div>

    </form>
    <hr />

    <app-select-city (userSelectedCity)="refreshAreasForCity($event)"></app-select-city>
    <br />
  </div>  
  <table class="table table-striped" *ngIf="allAreasForCity && allAreasForCity.length">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">City ID</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of allAreasForCity">
        <td>{{ area.Id }}</td>
        <td>{{ area.Name }}</td>
        <td>{{ area.CityId }}</td>
        <td>
          <button class="btn btn-warning btn-sm">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
