<div>
  <div class="text-center">
    <h4>All Parking Spaces for Area</h4>
    <app-select-city (userSelectedCity)="refreshAreasForCity($event)"></app-select-city>
    <hr />
  </div>
  <div class="text-center" *ngIf="allAreasForCity && allAreasForCity.length">
    <app-select-area (userSelectedArea)="refreshParkingSpacesForArea($event)"></app-select-area>
    <hr />
  </div>
  <table class="table table-striped" *ngIf="allParkingSpacesForArea && allParkingSpacesForArea.length">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Hourly price</th>
        <th scope="col">Date Added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parkingSpace of allParkingSpacesForArea">
        <td>{{ parkingSpace.Id }}</td>
        <td>{{ parkingSpace.Name }}</td>
        <td>{{ parkingSpace.HourlyPrice }} RON/h</td>
        <td>{{ parkingSpace.DateAdded }}</td>
      </tr>
    </tbody>
  </table>
</div>
