@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@{ 
    string credits = "";
    if (userManager.GetUserAsync(User).Result?.Credits != null)
    {
        credits = ((decimal) userManager.GetUserAsync(User).Result?.Credits).ToString("0.##");
    }
    string displayName = User.Identity.Name;
    if (userManager.GetUserAsync(User).Result?.FirstName != null)
    {
        displayName = userManager.GetUserAsync(User).Result?.FirstName;
    }
}

@inject IAuthorizationService authorizationService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ParkUp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="accountNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="accountNavbarDropdown">
                                    <a class="dropdown-item" asp-action="BuyCredits" asp-controller="Account">Buy Credits</a>
                                    <a class="dropdown-item" asp-action="PurchaseHistory" asp-controller="Account">Purchase History</a>
                                    <a class="dropdown-item" asp-action="RentalHistory" asp-controller="Account">Rental History</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("SuperAdmin") || User.IsInRole("Owner")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="parkingSpacesNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Spaces
                                </a>
                                <div class="dropdown-menu" aria-labelledby="parkingSpacesNavbarDropdown">
                                    <a class="dropdown-item" asp-action="MyParkingSpaces" asp-controller="Owner">My Parking Spaces</a>
                                    <a class="dropdown-item" asp-action="AddParkingSpace" asp-controller="Owner">Add Parking Space</a>
                                    <a class="dropdown-item" asp-action="RequestCashOut" asp-controller="Owner">Cash Out</a>
                                    <a class="dropdown-item" asp-action="TransactionHistory" asp-controller="Owner">Transaction History</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="managementNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="managementNavbarDropdown">
                                    <a class="dropdown-item" asp-action="AllCities" asp-controller="City">All Cities</a>
                                    <a class="dropdown-item" asp-action="AllAreas" asp-controller="Area">All Areas</a>
                                    <a class="dropdown-item" asp-action="ApproveParkingSpaces" asp-controller="Administration">Approve Spaces</a>
                                    <a class="dropdown-item" asp-action="ApproveCashOuts" asp-controller="Administration">Approve Cash Out</a>
                                    <a class="dropdown-item" asp-action="AllUsers" asp-controller="Administration">All Users</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                       asp-action="CreateRole" asp-controller="Administration">
                                        Create Role
                                    </a>
                                    <a class="dropdown-item" asp-action="AllRoles" asp-controller="Administration">All Roles</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                @if (signInManager.IsSignedIn(User))
                {
                    <div class="nav-item">
                        <a id="loggedInUserEmail" class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">@displayName 
                            <span id="userCredits" class="font-weight-bold"> @credits </span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn btn-link nav-link text-dark">Log out</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ParkUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
