<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/Credits50px400.jpg" alt="Card image 50 credits">
      <div class="card-body">
        <h4>Price: 25 EUR</h4>
        <button type="submit" class="btn btn-success" (click)="onBuy50Click()">Buy</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/Credits100px400.jpg" alt="Card image 100 credits">
      <div class="card-body">
        <h4>Price: 50 EUR</h4>
        <button type="submit" class="btn btn-success" (click)="onBuy100Click()">Buy</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/Credits500px400.jpg" alt="Card image 500 credits">
      <div class="card-body">
        <h4>Price: 250 EUR</h4>
        <button type="submit" class="btn btn-success" (click)="onBuy500Click()">Buy</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/Credits1000px400.jpg" alt="Card image 1000 credits">
      <div class="card-body">
        <h4>Price: 500 EUR</h4>
        <button type="submit" class="btn btn-success" (click)="onBuy1000Click()">Buy</button>
      </div>
    </div>
  </div>

</div>
