<div class="text-center">
  <h4>Parking Space Rental History</h4>
  <table class="table table-striped" *ngIf="allRentals && allRentals.length">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Space ID</th>
        <th scope="col">Space Name</th>
        <th scope="col">Price/h</th>
        <th scope="col">Date Started</th>
        <th scope="col">Date Ended</th>
        <th scope="col">Duration(m)</th>
        <th scope="col">Amount Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of allRentals">
        <td>{{ rental.Id }}</td>
        <td>{{ rental.ParkingSpaceId }}</td>
        <td>{{ rental.ParkingSpaceName }}</td>
        <td>{{ rental.HourlyPrice }}</td>
        <td>{{ rental.DateStarted }}</td>
        <td>{{ rental.DateEnded }}</td>
        <td>{{ rental.DurationMinutes }}</td>
        <td>{{ rental.AmountPaidByUser }}</td>
      </tr>
    </tbody>
  </table>
</div>
