<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow-1">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="accountNavbarDropdown">
            <a class="dropdown-item" [routerLink]="['/buy-credits']">Buy Credits</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/account']">Account</a>
            <a class="dropdown-item" [routerLink]="['/purchase-history']">Purchase History</a>
            <a class="dropdown-item" [routerLink]="['/rental-history']">Rental History</a>
            <a class="dropdown-item" [routerLink]="['/privacy']">Privacy</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="parkingSpacesNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Spaces
          </a>
          <div class="dropdown-menu" aria-labelledby="parkingSpacesNavbarDropdown">
            <a class="dropdown-item" [routerLink]="['/my-parking-spaces']">My Parking Spaces</a>
            <a class="dropdown-item" [routerLink]="['/add-parking-space']">Add Parking Space</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/cash-out']">Cash Out</a>
            <a class="dropdown-item" [routerLink]="['/transaction-history']">Transaction History</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="managementNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Management
          </a>
          <div class="dropdown-menu" aria-labelledby="managementNavbarDropdown">
            <a class="dropdown-item" [routerLink]="['/approve-spaces']">Approve Spaces</a>
            <a class="dropdown-item" [routerLink]="['/approve-cash-out']">Approve Cash Out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/all-users']">All Users</a>
            <a class="dropdown-item" [routerLink]="['/all-spaces']">All Spaces</a>
            <a class="dropdown-item" [routerLink]="['/all-areas']">All Areas</a>
            <a class="dropdown-item">All Cities</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
            <a class="dropdown-item">All Roles</a>
            <a class="dropdown-item"
               asp-action="CreateRole" asp-controller="Administration">
              Create Role
            </a>
          </div>
        </li>

      </ul>
    </div>

    
    <div class="nav-item">
      <a id="loggedInUserEmail" class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">
        Name
        <span id="userCredits" class="font-weight-bold"> @credits </span>
      </a>
    </div>
    <div class="nav-item">
      <form method="post" >
        <button type="submit" class="btn btn-link nav-link text-dark">Log out</button>
      </form>
    </div>
    
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
