<div class="container">
  <h4>Add New Role</h4>
  <p>New roles give your users additional access and abilities. Please create and assign roles carefully.</p>

  <form #form="ngForm" (submit)="onSubmit(form)">

    <div class="form-group">
      <label for="Name">Role Name</label>
      <input class="form-control" #Name="ngModel" id="Name" name="Name" [(ngModel)]="addRoleFormModel.Name" required />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Role</button>

  </form>
  <hr />
  <h4>All Roles</h4>
  <table class="table table-striped" *ngIf="allRoles && allRoles.length">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of allRoles">
        <td>{{ role.Id }}</td>
        <td>{{ role.Name }}</td>
        <td>
          <button class="btn btn-warning btn-sm">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
