@{
    ViewData["Title"] = "ParkUp";
}

<div class="text-center">

    <div id="takenCardContainer">

    </div>

    <div id="citiesContainer">
        <label for="CitiesSelect">Select a city:</label>
        <select name="CitiesSelect" id="CitiesSelect">
            <option value="0">Select City...</option>
        </select>
    </div>

    <div id="areasContainer">
        <label for="AreassSelect">Select an area:</label>
        <select name="AreassSelect" id="AreassSelect">
            <option value="0">Select an Area...</option>
        </select>
    </div>

    <div id="spacesContainer">

    </div>

</div>

@section Scripts {
    <script type="module" src="~/js/home.js"></script>
    <script type="module" src="~/js/utilsAPI.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}